{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit page</h1>

    <br>

    <p><label>Edit current encyclopedia entry here:</label></p>

    <form action="{% url 'newpage' %}" method="POST">

        {% csrf_token %}

        <label for="new_title">Title:</label><br>
        <input name="new_title" type="text">hoi<
        <br>

        {% csrf_token %}

        <label for="new_content">Content:</label><br>
        <textarea name="new_content" style="width:1000px; height:370px;" type="text"></textarea>
        <br>

        {% csrf_token %}

        <input type="submit" value="Save">
    </form>


{% endblock %}
