{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit page</h1>

    <br>

    <p><label>Edit current encyclopedia entry here:</label></p>

    <form action="{% url 'update' %}" method="POST">

        {% csrf_token %}

        <label for="title">Title:</label><br>
        <input name="title" type="text" value="{{ title }}">
        <br>

        <label for="content">Content:</label><br>
        <textarea name="content" style="width:1000px; height:370px;" type="text">{{ content }}</textarea>
        <br>

        <input type="submit" value="Save">
    </form>


{% endblock %}
